RewriteEngine On
RewriteBase /


RewriteRule ^gestion/?(.*)$ admin/$1 [L,NC]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?action=$1 [QSA,L]