/* Importation de la police Special Elite */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    margin: 0;
    background-color: #0a0a0a;
    font-family: 'Special Elite', cursive;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    background: linear-gradient(black, transparent);
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;   
    z-index: 1000;     
}

.logo img {
    width: 60px;
    height: auto;
    margin-top: auto;
}
.compte {
    
    width: 100px;
    display: flex;
    align-items: center;
    gap: 8px;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #6ebd87; 
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 1.5px;
    transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
    color: #a3e8b8;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 150px 20px 120px 20px;
    background-image: 
        linear-gradient(#254134,#0B1E18), 
        url('view/img/classe_background.webp');
        
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.hero-section img {
    border: 1px dashed #555; 
    margin-bottom: 30px;
}

.hero-section p {
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 40px;
   font-family: 'Special Elite', cursive; 
}

.hero-section a {
    background-color: #cb2d2d; 
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    padding: 12px 30px;
    border: 2px solid #000000; 
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6); 
    transition: background-color 0.2s, transform 0.2s;
}


.hero-section a:hover {
    background-color: #a82222; 
    transform: scale(1.05); 
}